{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}A-Team Table Tennis Manager{% endblock %}</h1>
{% endblock %}

{% block content %}

<img src="/static/bunnies.jpeg" class="img-rounded"/>

<form method = "POST">
	New leaderboard:<br>
	<input type="text" name="leaderboard_name"><br>
	<input type="submit" value="Submit">
</form>

<h2 class="boom">Leaderboards</h2>
{% for leaderboard_name in leaderboard_names %}
	<a href=/{{ leaderboard_name }}>{{ leaderboard_name }}</a><br>
{% endfor %}
{% endblock %}


<!-- <!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>A-Team Table Tennis Manager</title>
	<link rel="stylesheet" href="/static/css/home.css">
</head>

<h1 class="boom">A-Team Table Tennis Manager</h1>

<img src="/static/bunnies.jpeg" />

<form method = "POST">
	New leaderboard:<br>
	<input type="text" name="leaderboard_name"><br>
	<input type="submit" value="Submit">
</form>

<h2 class="boom">Leaderboards</h2> -->