html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


body {
	margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h1 {
    
    color: #004b83;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
    
}

#myCarousel {
    max-width: 960px;
    min-width: 510px;
    margin: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
